body, html{
    background-color: #461E20;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: white;
}
header {
    background-color: #461E20;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-color:black;
    border-bottom-style: solid;
    border-bottom-width: 0.001em;
}

header nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header ul li{
    margin: 0px 20px;
}

header ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

header ul li a:hover{
    color: gray;
}

header img{
    width: 50px;
    height: 50px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero{
    background-image: url("../img/hero2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    margin-top: 10px;
    border-radius: 50px;
}

.hero h2{
    font-size: 5em;
    margin: 0px 20px;
}

.hero p{
    font-size: 2em;
    margin: 0px 20px;

}
.beneficios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    min-height: 600px;
    margin: 10px 0px 10px 0px;
}

.beneficios div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%}

.beneficios div div{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid black;
    margin: 5px;
    padding: 20px 20px;
    width: 30%;
    height: 200px;
    background-color: #271C1D;
}

.beneficios div div img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
}

.beneficios div div h3{
    text-align: center;
}

.galery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 600px;
    padding-bottom: 20px;
}

.galery div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    width: 110%;
}

.galery img{
    width: 30%;
    border-radius: 20px;
    margin: 10px;
}

.membresia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
    width: 80%;
    min-height: 900px;
    background-color: red;
}
.membresia div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.membresia div div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 2px solid black;
    margin: 10px;
    padding: 20px 20px;
    width: 25%;
    height: 400px;
    background-color: white;
    color: black;
}
.testimonios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
    width: 80%;
    min-height: 600px;
    background-color: red;
}

.testimonios div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.testimonios div div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    border: 2px solid black;
    margin: 10px;
    padding: 20px 20px;
    width: 25%;
    height: 400px;
    background-color: white;
    color: black;
}

.testimonios div div p{
    text-align: justify;
}

.testimonios img{
    width: 80%;
}

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
    width: 80%;
    min-height: 600px;
    background-color: red;
}
.contacto form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.contacto form input, .contacto form textarea{
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.contacto form input[type="submit"]{
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
.contacto form input[type="submit"]:hover{
    background-color: gray;
}
footer{
    background-color: red;
    width: 100%;
    min-height: 100px;
    color: white;
    background-color: black;
}

footer div{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}

footer div div{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: brown;
    height: 200px;
}
